<body class="login-bg">
	<div class="container">
        <div class="card card-container">
            <div id="profile-img" class="profile-img-card">
                <img  src="assets\images\brand-logo2.png" />
            </div>
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" method='post'>
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="user_email" name='user_email' class="form-control" placeholder="Enter Email" autofocus>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" name='submit' >Submit</button>
            </form><!-- /form -->
            <a class="animsition-link" [routerLink]="['/index']">
          <!--  <a href="index.html" class="forgot-password">-->
               <i class="fa fa-lock" aria-hidden="true"></i> Sign In
            </a>
        </div><!-- /card-container -->      
    </div><!-- /container -->
     <div class="clearfix"></div>
	</body>