<div class="page">
    <div class="page-content padding-30 container-fluid">
        <div class="row" data-plugin="matchHeight" data-by-row="true">
            <div class="col-xlg-12 col-md-12 padding-0">
                <div class="row">
                    <div class="col-lg-3 col-sm-3">
                        <div class="widget widget-shadow" id="widgetLineareaOne">
                            <div class="widget-content">
                                <div class="padding-20 padding-top-10">
                                    <div class="clearfix">
                                        <div class="grey-800 pull-left padding-vertical-10">
                                            <i class="icon fa fa-user grey-600 font-size-24 vertical-align-bottom margin-right-5"></i> Total Revenue
                                        </div>
                                        <span class="pull-right grey-700 font-size-30">1,253</span>
                                    </div>
                                    <div class="margin-bottom-20 grey-500">
                                        <i class="icon fa fa-long-arrow-up green-500 font-size-16"></i> 15% From this yesterday
                                    </div>
                                    <div class="ct-chart height-50">
                                        <svg xmlns:ct="#" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;">
                                            <g class="ct-grids"></g>
                                            <g>
                                                <g class="ct-series ct-series-a">
                                                    <path d="M0,50L0,50C8.649,47.917,34.595,43.75,51.893,37.5C69.19,31.25,86.488,14.583,103.786,12.5C121.083,10.417,138.381,26.042,155.679,25C172.976,23.958,190.274,4.583,207.571,6.25C224.869,7.917,242.167,30.833,259.464,35C276.762,39.167,294.06,28.75,311.357,31.25C328.655,33.75,354.601,46.875,363.25,50L363.25,50Z" class="ct-area"></path>
                                                </g>
                                            </g>
                                            <g class="ct-labels"></g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="widget widget-shadow" id="widgetLineareaTwo">
                            <div class="widget-content">
                                <div class="padding-20 padding-top-10">
                                    <div class="clearfix">
                                        <div class="grey-800 pull-left padding-vertical-10">
                                            <i class="icon fa fa-eye grey-600 font-size-24 vertical-align-bottom margin-right-5"></i> VISITS
                                        </div>
                                        <span class="pull-right grey-700 font-size-30">2,425</span>
                                    </div>
                                    <div class="margin-bottom-20 grey-500">
                                        <i class="icon fa fa-long-arrow-up green-500 font-size-16"></i> 34.2% From this week
                                    </div>
                                    <div class="ct-chart height-50">
                                        <svg xmlns:ct="#" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;">
                                            <g class="ct-grids"></g>
                                            <g>
                                                <g class="ct-series ct-series-a">
                                                    <path d="M0,50L0,50C7.568,48.958,30.271,48.333,45.406,43.75C60.542,39.167,75.677,25.625,90.813,22.5C105.948,19.375,121.083,26.25,136.219,25C151.354,23.75,166.49,15.625,181.625,15C196.76,14.375,211.896,22.292,227.031,21.25C242.167,20.208,257.302,9.167,272.438,8.75C287.573,8.333,302.708,11.875,317.844,18.75C332.979,25.625,355.682,44.792,363.25,50L363.25,50Z" class="ct-area"></path>
                                                </g>
                                            </g>
                                            <g class="ct-labels"></g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="widget widget-shadow" id="widgetLineareaThree">
                            <div class="widget-content">
                                <div class="padding-20 padding-top-10">
                                    <div class="clearfix">
                                        <div class="grey-800 pull-left padding-vertical-10">
                                            <i class="icon fa fa-bar-chart grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>Ave. weekly Sales
                                        </div>
                                        <span class="pull-right grey-700 font-size-30">1,864</span>
                                    </div>
                                    <div class="margin-bottom-20 grey-500">
                                        <i class="icon fa fa-long-arrow-down red-500 font-size-16"></i>15% From this yesterday
                                    </div>
                                    <div class="ct-chart height-50">
                                        <svg xmlns:ct="#" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;">
                                            <g class="ct-grids"></g>
                                            <g>
                                                <g class="ct-series ct-series-a">
                                                    <path d="M0,50L0,50C8.649,45.833,34.595,28.125,51.893,25C69.19,21.875,86.488,34.375,103.786,31.25C121.083,28.125,138.381,7.708,155.679,6.25C172.976,4.792,190.274,21.458,207.571,22.5C224.869,23.542,242.167,9.583,259.464,12.5C276.762,15.417,294.06,33.75,311.357,40C328.655,46.25,354.601,48.333,363.25,50L363.25,50Z" class="ct-area"></path>
                                                </g>
                                            </g>
                                            <g class="ct-labels"></g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-3">
                        <div class="widget widget-shadow" id="widgetLineareaFour">
                            <div class="widget-content">
                                <div class="padding-20 padding-top-10">
                                    <div class="clearfix">
                                        <div class="grey-800 pull-left padding-vertical-10">
                                            <i class="icon fa fa-list grey-600 font-size-24 vertical-align-bottom margin-right-5"></i>Items
                                        </div>
                                        <span class="pull-right grey-700 font-size-30">845</span>
                                    </div>
                                    <div class="margin-bottom-20 grey-500">
                                        <i class="icon fa fa-long-arrow-up green-500 font-size-16"></i>18.4% From this yesterday
                                    </div>
                                    <div class="ct-chart height-50">
                                        <svg xmlns:ct="#" width="100%" height="100%" class="ct-chart-line" style="width: 100%; height: 100%;">
                                            <g class="ct-grids"></g>
                                            <g>
                                                <g class="ct-series ct-series-a">
                                                    <path d="M0,50L0,50C7.568,47.5,30.271,40,45.406,35C60.542,30,75.677,22.708,90.813,20C105.948,17.292,121.083,21.042,136.219,18.75C151.354,16.458,166.49,5.208,181.625,6.25C196.76,7.292,211.896,22.917,227.031,25C242.167,27.083,257.302,17.083,272.438,18.75C287.573,20.417,302.708,29.792,317.844,35C332.979,40.208,355.682,47.5,363.25,50L363.25,50Z" class="ct-area"></path>
                                                </g>
                                            </g>
                                            <g class="ct-labels"></g>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      
        </div>
</div>